*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/*Barra de navegación*/

/*Título barra de navegación*/
.color_text_1{
    color: #6251ff;
}
.color_text_2{
    color: black;
}

.titulo{
    font-size: 25px;
}
/*Barra*/
.nav_lista{
    width: 100%;
    position: fixed;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    font-size: 20px;
    gap: 145px;
    box-shadow: 0px 0px 5px black;
}

.lista{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

.nav_a{
    text-decoration: none;
    color: black;
}

.nav_a:hover{
    border-bottom: 3px solid #6251ff;
    color: #6251ff;
}

.nav_login{
    display: flex;
    gap: 20px;
    align-items: center;
}

.boton_sign{
    background: #6251ff;
    color: white;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
}


/*Articulo principal*/

.articulo_principal{
    margin: 100px;
    margin-left: 185px;
}

.eee{
    color: #6251ff;
    font-size: 30px;
    display: flex;
    font-weight: lighter;
}

.parrafo_grande{
    font-size: 50px;
    font-weight: bolder;
}

.color_parrafo{
    color: #6251ff;
}

.parrafo_pequeño{
    font-size: 23px;
    width: 500px;
}

.botones_abajo{
    width: 200px;
    height: 40px;
    font-size: 20px;
}

#b1{
    background: #6251ff;
    border: none;
    border-radius: 5px;
    color: white;
}

#b2{
    background: white;
    border: 1px solid #6251ff;
    border-radius: 5px;
    color: #6251ff;
    margin-left: 20px;
}

.articulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}
